/* Repeated Page Themes */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-title-color: #212121;
    --secondary-title-color: #ffffff;
    --accent-color: #2196F3;
    --background-dark-color: #F5F4FA;
    --background-light-color: #ffffff;
    --background-darkest-color: #2F303A;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--background-light-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: var(--accent-color);
}

.header-navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.current-page {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: var(--accent-color);
}

.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}

/* Hero Section */
.hero {
    background-color: var(--background-darkest-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer
}

.hero-button:hover,
.hero-button:focus {
    background: #188ce8;
    opacity: 1;
}

/* Benefits */
.benefit-title {
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
}

.benefit-summary {
    line-height: calc(24/14);
    color: var(--secondary-text-color);
}

/* What we do */
.what-we-do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
}

/* Our Team Bottom */
.our-team-section {
    background-color: var(--background-dark-color);
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
}

.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);    
    text-align: center;
}

.our-team-role {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--secondary-text-color);
}

/* Footer */
.footer-section {
    background-color: var(--background-darkest-color);
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: var(--accent-color);
}

.footer-contacts-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}

.footer-contacts-address:hover,
.footer-contacts-address:focus {
    color: var(--accent-color);
}

.footer-contacts-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--secondary-title-color);
    opacity: 0.6;
  
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--accent-color);
}

/* Portfolio Styles */
/* Portfolio Filters Section */
.portfolio-filter {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);  
    text-align: center;   
    color: var(--primary-text-color);
    background-color: var(--background-dark-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.portfolio-filter:hover,
.portfolio-filter:focus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px
     rgba(0, 0, 0, 0.388), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.current-filter {
    background-color: var(--accent-color);   
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px
    rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--secondary-title-color);
}

/* Portfolio Product Section */
.product-details-title {    
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);  
    letter-spacing: 0.06em;    
    color: var(--primary-text-color);
}

.product-details-category {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--secondary-text-color);
}

